*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 14px;
   
}

main{
    background-image: url(../img/mulyadi-ZnLprInKM7s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 5%;

}
h1{
    text-align: center;
    text-shadow: 1px 1px 2px white;
    padding: 0 15%;
    font-size: 2rem;
}
article{
    
    padding: 2%;
    color:white;
    text-shadow: 1px 1px 2px black; 
    margin: 25% 0;
}
p{
    text-align: center;
    margin: 2% 0;
    font-size: 1,2rem;

}
h2{
    text-align: center;
    font-size: 2rem;
    margin: 2% 0;
}

a{
    text-decoration: none;
    color:white;
    border: 2px solid white;
    text-align: center;
    padding: 1%;
    display: block;
    width: 15%;
    margin: 5vh auto;


}